.profile {
  width: 250px;
  border: solid 1px #afb3c0;
  box-shadow: 5px 5px 11px -1px rgba(175, 203, 225, 0.39);
  border-radius: 3px;
  padding-top: 20px;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 100px;
  height: 100px;
  border: solid 1px #afb3c0;
  border-radius: 50px;
  box-shadow: 5px 5px 11px -1px rgba(175, 203, 225, 0.39);
  padding: 3px;
  margin-bottom: 25px;
}
p {
  margin: 0;
  padding: 0;
}
.name {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.tag {
  margin-bottom: 10px;
  color: #afb3c0;
}

.location {
  color: #afb3c0;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.stats {
  display: flex;
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #afb3c0;
  box-shadow: 5px 5px 11px -1px rgba(175, 203, 225, 0.39);
  width: 80px;
  padding: 8px;
  background-color: rgba(175, 203, 225, 0.39);
}

.quantity {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}

.label {
  color: #4e4e52;
}
