.statistics {
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #afb3c0;
  box-shadow: 5px 5px 11px -1px rgba(175, 203, 225, 0.39);
}
.title {
  font-size: 20px;
  text-transform: uppercase;
  color: #83868d;
}
.statlist {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 70px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}
.label {
}
.percentage {
}
